@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100%;
  background-color: hsl(218, 28%, 13%);
  color: whitesmoke;
  font-size: 1.95ex;
  font-family: "Open Sans", "Raleway", "Segoe UI", sans-serif;
}
header {
  width: 100vw;
  margin: auto;
  padding: 3rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(219, 30%, 18%);
}
header > ul {
  list-style-type: none;
  display: flex;
}
header > ul > li > a {
  text-decoration: none;
  color: inherit;
  margin-right: 30px;
}
header > ul > li > a:hover {
  text-decoration: underline;
  font-weight: bold;
}
#first_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("images/bg-curvy-desktop.svg") no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: hsl(219, 30%, 18%);
  margin-bottom: 5rem;
}
#first_section > #first_section_text {
  width: 40%;
}
#first_section_text p {
  margin-bottom: 30px;
}
#first_section_text h2 {
  margin-bottom: 30px;
}
#main_btn {
  width: 40%;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
  color: inherit;
  margin: auto;
  height: 45px;
  border-radius: 30px;
  border: none;
}
#main_btn:hover {
  cursor: pointer;
  transform: scale(1.02);
}
#middle_section {
  width: 90vw;
  margin-bottom: 9rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 450px);
  gap: 50px;
  padding: 20px 15%;
}
.mid_sect_part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 50px;
  height: 300px;
}
#stay_productive_section {
  width: 90vw;
  margin-top: 5rem;
  margin: auto;
  display: flex;
  margin-bottom: 5rem;
}
#stay_productive_section > img {
  transform: scale(0.83);
}
#productive_sect {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  text-align: left;
  height: 250px;
}
#productive_sect h2 {
  width: 40%;
  font-size: 30px;
}
#productive_sect p {
  width: 70%;
}
#productive_sect a {
  width: 20%;
  border-bottom: 1px solid hsl(176, 68%, 64%);
  text-decoration: none;
  color: hsl(176, 68%, 64%);
}
#productive_sect a:hover {
  color: inherit;
  border-bottom: 1px solid beige;
}
#commentary {
  margin: auto;
  width: 90vw;
  display: flex;
  padding-top: 2rem;
  padding-left: 0.5rem;
  padding-bottom: 15rem;
  background-image: url("images/bg-quotes.png");
  background-repeat: no-repeat;
}
.comment {
  margin-right: 25px;
  padding: 25px;
  background-color: hsl(219, 30%, 18%);
  border-radius: 10px;
}
.comment img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.name_section {
  display: flex;
  margin-top: 30px;
}
.name_section img {
  margin-right: 20px;
}
#floating_div {
  width: 40vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 190px;
  padding: 2em;
  border-radius: 10px;
  background-color: hsl(219, 30%, 18%);
  box-shadow: 1px 10px 15px 2px hsl(216, 53%, 9%);
  position: relative;
  z-index: 1;
}
form {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
input {
  width: 70%;
  height: 40px;
  border-radius: 30px;
  border: none;
  padding-left: 20px;
}
input:focus-visible {
  outline: none;
}
#email_btn {
  width: 27%;
  height: 40px;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}
#email_btn:hover {
  cursor: pointer;
}
footer {
  margin: auto;
  width: 95vw;
  background-color: hsl(216, 53%, 9%);
  margin-top: -70px;
  padding: 100px 20px 10px 20px;
  position: relative;
  border-radius: 10px;
  z-index: 0;
}
#main_footer {
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}
#reach_out {
  width: 40%;
  display: flex;
  margin-right: 50px;
}
#firs_ .icn,
#sec_ div .icn {
  align-self: flex-start;
  margin-right: 10px;
}
#links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30%;
  margin-right: 20px;
}
#links a {
  color: unset;
  text-decoration: none;
  padding: 10px;
}
#links a:hover {
  font-weight: bold;
}
#firs_ {
  display: flex;
  width: 50%;
  margin-right: 20px;
}
#sec_ {
  display: flex;
  flex-direction: column;
}
#sec_ div {
  display: flex;
  margin-bottom: 30px;
}
#socials {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#socials a {
  color: unset;
  margin-right: 50px;
  border: 1px solid;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  width: 40px;
  height: 40px;
}
#socials a:hover {
  color: hsl(176, 68%, 64%);
}
@media screen and (max-width: 1025px) {
  header > ul > li > a {
    margin-right: 4.5em;
  }
  header #logo {
    transform: scale(0.8);
  }
  #first_section {
    background: url("images/bg-curvy-mobile.svg") no-repeat;
    background-size: contain;
    background-position: bottom;
    background-color: hsl(219, 30%, 18%);
    width:100%;
  }
  #first_section img {
    transform: scale(0.7);
  }
  #first_section > #first_section_text {
    width: 90%;
  }
  #middle_section {
    display: flex;
    flex-direction: column;
  }
  #stay_productive_section {
    display: flex;
    flex-direction: column;
  }
  #productive_sect {
    text-align: left;
  }
  #productive_sect h2 {
    width: 100%;
  }
  #productive_sect p {
    width: 100%;
  }
  #productive_sect a {
    width: 40%;
    border-bottom: 0;
    text-decoration: underline;
  }
  #productive_sect a:hover {
    color: inherit;
    border-bottom: none;
  }
  #commentary {
    flex-direction: column;
  }
  .comment {
    margin: auto;
    margin-bottom: 2.6rem;
    width: 90%;
  }
  #floating_div {
    margin: auto;
    width: 90%;
    height: 21em;
  }
  form {
    flex-direction: column;
    height: 60%;
  }
  input {
    margin: auto;
    width: 90%;
  }
  #email_btn {
    margin: auto;
    width: 90%;
  }

  #main_footer {
    flex-direction: column;
    margin-top: 3rem;
  }
  #reach_out {
    width: 100%;
    flex-direction: column;
  }
  #firs_ {
    width: 100%;
    margin-bottom: 1rem;
  }
  #links {
    display: flex;
    flex-direction: column;
  }
  #links a:nth-child(4) {
    margin-bottom: 1.5rem;
  }
  #socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  #logo {
    height: 30px;
  }
  header > ul > li > a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
  }
  #first_section img {
    transform: scale(0.45);
  }
  #first_section {
    width: 100%;
  }
  .mid_sect_part {
    width: 17rem;
  }
  .mid_sect_part p {
    width: 150%;
    text-align: left;
    margin-top: -9rem;
  }
  .mid_sect_part h3 {
    width: 130%;
    margin-top: -9rem;
  }
}
