
* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
  align-items:start;
  justify-content: center;
  gap:10px;
  padding-top:100px;
}
.card{
  padding:50px;
}
#daniel {
  grid-area: daniel;
  width:550px;
}
#jonathan {
  grid-area: jonathan;
  width:200px;
}
#jeanette {
  grid-area: jeanette;
  width:200px;
  
}
#patrick {
  grid-area: patrick;
  width:500px;

}
#kira {
  grid-area: kira;
  width:200px;
  
}
