*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark_cyan: hsl(185, 75%, 39%);
  --sat_blue: hsl(229, 23%, 23%);
  --grayish_blue: hsl(227, 10%, 46%);
  --dark_gray: hsl(0, 0%, 59%);
}
body {
  background: url("./Card/profile-card-component-main/images/bg-pattern-top.svg")
      top -500px left -200px no-repeat,
    url("./Card/profile-card-component-main/images/bg-pattern-bottom.svg")
      bottom -600px right -150px no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--dark_cyan);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

.container {
  background-color: #fefefe;
  width: 400px;
  height: max-content;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
}
#dp_svg {
  border-radius: 20px 20px 0 0;
  height: 40%;
}
#dp {
  width: 100px;
  height: 100px;
  margin-left: 40%;
  border-radius: 50%;
  margin-top: -50px;
  border: 5px solid white;
}
.container ul {
  display: flex;
  list-style-type: none;
  height: 20%;
  margin-top: 5%;
  border-top: 1px solid rgba(109, 107, 107, 0.37);
}
.container ul li {
  margin-left: 35px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  color: var(--dark_gray);
}
.container ul li span {
  font-size: 20px;
  color: var(--sat_blue);
  font-weight: bold;
}
.container h3 {
  font-size: 30px;
  margin-left: 23%;
  margin-top: 3%;
  color: var(--sat_blue);
}
.container h4 {
  margin-left: 40%;
  margin-top: 3%;
  color: var(--dark_gray);
}
h3 span {
  color: var(--dark_gray);
}
@media screen and (max-width: 500px) {
  body {
    background: #fefefe;
  }
}
