*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    width:100vw;
}
#profile_pic{
   height:50px;
   width:50px;
}
.dog_img{
    width:80px;
    height:80px;
}

#main{
    width:80vw;
    margin:auto;
    display: flex;
}
#phone_sect{
    outline:auto;    
    }
#head{
    outline:Auto;
    display:flex;
    justify-content: start;
}
