@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100vw;
    height:100%;
    background-color: hsl(218, 28%, 13%);
    color:whitesmoke;
    font-size: 1.95ex;
    font-family:"Open Sans","Raleway",'Segoe UI', sans-serif;
}
header{
    width:100vw;
    margin:auto;
    padding: 3rem 1rem;
    display:flex;
    justify-content: space-between;
    background-color: hsl(219, 30%, 18%);
}
header > ul{
    list-style-type:none;
    display:flex;
}
header > ul > li > a{
    text-decoration: none;
    color:inherit;
    margin-right:30px;
}
header > ul > li > a:hover{
    text-decoration:underline;
    font-weight:bold;
}
#first_section{
    width:99vw;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align:center;
     background:url("images/bg-curvy-desktop.svg") no-repeat ;
     background-size: contain;
     background-position: bottom;
    background-color: hsl(219, 30%, 18%);
    margin-bottom: 5rem;
    
}
#first_section > #first_section_text{
    width:40%;
}
#first_section_text p{
   margin-bottom:30px;
}
#first_section_text h2{
    margin-bottom: 30px;
}
#main_btn{
    width:40%;
    background: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
    color:inherit;
    margin: auto;
    height:45px;
    border-radius: 30px;
    border:none;
}
#main_btn:hover{
    cursor:pointer;
    transform: scale(1.02);
}
#middle_section{
    width:90vw;
    margin-bottom: 9rem;
    margin:auto;
    display: grid;
    grid-template-columns:repeat(2,450px);
    gap:50px;
    padding: 20px 15%;
   

}
.mid_sect_part{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    padding:50px;
    height:300px;
}
#stay_productive_section{
    width:90vw;
    margin-top:5rem;
    margin:auto;
    display: flex;
    margin-bottom: 5rem;
}
#stay_productive_section > img{
    transform: scale(0.83);
}
#productive_sect{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    margin:auto;
    text-align: left;
    height:250px;
}
#productive_sect h2{
    width:40%;
    font-size:30px;
}
#productive_sect p{
    width:70%;
}
#productive_sect a{
    width:20%;
    border-bottom:1px solid hsl(176, 68%, 64%);
    text-decoration: none;
    color:hsl(176, 68%, 64%);
}
#productive_sect a:hover{
    color:inherit;
    border-bottom:  1px solid beige;
}
#productive_sect a img:hover{
    /*Todo- change the color of the svg*/
    color:beige;
}
#commentary{
     margin:auto;
    width:90vw;
    display:flex;
    padding-top: 2rem;
    padding-left: 0.5rem;
    padding-bottom: 15rem;
    background-image: url("images/bg-quotes.png");
    background-repeat: no-repeat;
}
.comment{
    margin-right: 25px;
    padding:25px;
    background-color:hsl(219, 30%, 18%);
    border-radius:10px;
}
.comment img{
    border-radius: 50%;
    width: 50px;
    height:50px;
}
.name_section{
    display:flex;
    margin-top:30px;
}
.name_section img{
    margin-right: 20px;
}
#floating_div{
    width:40vw;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    text-align: center;
    height:190px;
    padding:20px;
    border-radius:10px;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 1px 10px 15px 2px hsl(216, 53%, 9%);
    position: relative;
    z-index:1;
}
form {
    width:100%;
    display:flex;
    margin-top:1rem;
    justify-content:space-between;
}
input{
    width:70%;
    height:40px;
    border-radius: 30px;
    border:none;
    padding-left:20px;
}
#email_btn{
    width:27%;
    height:40px;
    border-radius: 30px;
    border:none;
    color:white;
      background: linear-gradient(to right,hsl(176, 68%, 64%),hsl(198, 60%, 50%));
}
#email_btn:hover{
    cursor:pointer;
}
footer{
     margin:auto;
    width:95vw;
    background-color:hsl(216, 53%, 9%);
    margin-top: -70px;
    padding: 100px 20px 10px 20px;
    position: relative;
    z-index: 0;
   
}
#main_footer{
    display:flex;
    margin-top:20px;
    margin-bottom:30px;
}
#reach_out{
    width:40%;
    display:flex;
    margin-right: 50px;}
#firs_ .icn,#sec_  div .icn{
    align-self: flex-start;
    margin-right: 10px;
}
#links{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    width:30%;
    margin-right:20px;
}
#links a{
    color:unset;
    text-decoration: none;
    padding:10px;
}
#links a:hover{
    font-weight:bold;
}
#firs_{
    display: flex;
    width:50%;
    margin-right: 20px;
}
#sec_{
    display:flex;
    flex-direction: column;
    
}
#sec_ div{
    display:flex;
    margin-bottom: 30px;
}
#socials{
    width:30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#socials a{
    color:unset;
    margin-right: 50px;
    border:1px solid;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    width:40px;
    height:40px;
}
#socials a:hover{
    color:hsl(176, 68%, 64%);
}
